<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('templates/main/head', {title}) %>
</head>

<body>

    <!-- Navbar -->
    <div>
        <%- include('templates/main/navbar', {title}) %>
    </div>

    <!-- Alerts -->
    <div>
        <%- include('templates/alerts') %>
     </div>

    <div class="p-4">
        &nbsp;
    </div>

    <!-- Main Authentication Card -->
    <div class="card auth-card my-5">
        <div class="card-header text-center">
            <ul class="nav nav-tabs card-header-tabs justify-content-center" id="authTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab"
                        aria-controls="login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="signup-tab" data-bs-toggle="tab" href="#signup" role="tab"
                        aria-controls="signup" aria-selected="false">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="forgot-tab" data-bs-toggle="tab" href="#forgot" role="tab"
                        aria-controls="forgot" aria-selected="false">Forgot Password</a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <!-- Login Form -->
            <div class="tab-pane active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <form id="loginForm" action="/signin" method="POST">
                    <div class="mb-3">
                        <label for="loginEmail" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="loginEmail" required>
                        <div id="loginEmailHelp" class="form-text d-none text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="loginPassword" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="loginPassword" minlength="5" required>
                        <div id="loginPasswordHelp" class="form-text d-none text-danger"></div>
                        
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>

            <!-- Signup Form -->
            <div class="tab-pane" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                <form action="/login" id="signupForm">
                    <div class="mb-3">
                        <label for="signupFirstName" class="form-label">Full Name</label>
                        <div class="d-flex">
                            <input type="text" class="form-control w-50" id="signupFirstName" placeholder="First Name" required>
                            <input type="text" class="form-control w-50" id="signupLastName" placeholder="Last Name" required>
                        </div>
                        <div id="signupNameHelp" class="form-text d-none text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="signupUserName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="signupUserName" required>
                        <div id="signupUserNameHelp" class="form-text text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="signupEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="signupEmail" required>
                        <div id="signupEmailHelp" class="form-text text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="signupPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="signupPassword" required>
                        <div id="signupPasswordHelp" class="form-text d-none text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" required>
                        <div id="confirmPasswordHelp" class="form-text d-none text-danger"></div>
                    </div>
                    <button id="registerSubmit" type="submit" class="btn btn-primary w-100" disabled>Sign Up</button>
                </form>
            </div>

            <!-- Forgot Password Form -->
            <div class="tab-pane" id="forgot" role="tabpanel" aria-labelledby="forgot-tab">
                <form>
                    <div class="mb-3">
                        <label for="forgotEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="forgotEmail" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-5"></div>
    &nbsp;
    </div>

    <!-- Footer -->
  <footer class="footer">
    <%- include('templates/main/footer') %>
  </footer>

  <%- include('templates/main/baseScripts') %>
    <!-- <script-- type="text/javascript" src="../backend/public/js/bookList.js"></script-->
    <script type="text/javascript" src="/js/mainFuncs.js"></script>
    <script type="text/javascript" src="/js/pages/login.js"></script>
    
</body>

</html>