<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <!-- Brand -->

        <a class="navbar-brand" href="/">
            <img src="/images/logo/logo.jpg" class="img-fluid rounded-circle " alt="Bootstrap"
                width="60">
        </a>

        <!-- Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Centered links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link <%= title==='Home'?'active':'' %>" href="/">Home</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <%= title==='Books'?'active':'' %>" 
                        href="/books" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Books
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="navBookList">
                        <li><a class="dropdown-item" href="/books">All</a></li>
                        <li><a class="dropdown-item" href="/books/default/23213">Book 1</a></li>
                        <li><a class="dropdown-item" href="/books/default/23213">Book 2</a></li>
                        <li><a class="dropdown-item" href="/books/default/23213">Book 3</a></li>
                    </ul>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link <%= title==='Books'?'active':'' %>" href="/books">Books</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link <%= title==='About'?'active':'' %>" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title==='Contact'?'active':'' %>" href="/contact">Contact</a>
                </li>

                <!-- Mobile Only Views -->
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link" href="/cart">
                        <i class="fas fa-shopping-cart"></i> Cart
                    </a>
                </li>

                <% if(typeof user == 'undefined'){ %>
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link <% if(title=='Login'){ %>disabled<% } %>" href="/login">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link <% if(title=='Login'){ %>disabled<% } %>" href="/login">
                        <i class="fas fa-user-plus"></i> Signup
                    </a>
                </li>

                <% } else { %>
                    <% if(user.admin){ %>
                        <li class="nav-item d-block d-lg-none">
                            <a class="nav-link <% if(title=='Panel'){ %>disabled<% } %>" href="/panel">
                                <i class="fas fa-user-plus"></i> Panel
                            </a>
                        </li>
                    <% } %>
                <li class="nav-item d-block d-lg-none dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="/user/24324234/dashboard">Dashboard</a></li> -->
                        <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                        <!-- <li><a class="dropdown-item" href="/user/24324234/profile">Profile</a></li> -->
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                    </ul>
                </li>
                <% } %>
            </ul>
        </div>

        <!-- Right side buttons -->
        <div class="navbar-icons ms-auto d-none d-lg-block">
            <a href="/cart" class="btn btn-outline-light me-2 position-relative">
                <i class="fas fa-shopping-cart"></i>
                <span id="cartCount"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-secondary">
                    #
                    <span class="visually-hidden">cart items</span>
                </span>
            </a>

            <% if(typeof user == 'undefined'){ %>
            <a href="/login" class="btn btn-outline-light me-2 <% if(title=='Login'){ %>disabled<% } %>"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/login" class="btn btn-outline-light me-2 <% if(title=='Login'){ %>disabled<% } %>"><i class="fas fa-user-plus"></i> Signup</a>
            <% } else { %>
            <!-- Profile Dropdown -->
            <div class="btn-group">
                <a href="#" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/dashboard">Dashboard</a></li>
                    <!-- <li><a class="dropdown-item" href="/user/232342/profile">Profile</a></li> -->
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="logout">Sign out</a></li>
                </ul>
            </div>
            <% } %>
        </div>
    </div>
</nav>
<input type="hidden" id="token" value="<%= token %>" hidden>